compute/step function/machine/logics.json
{
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.case",
          "StringEquals": "test",
          "Next": "MapInput"
        }
      ]
    },
    "MapInput": {
      "Type": "Pass",
      "Result": {
        "data": [
          {"color":  "red"},
          {"color":  "blue"}
        ]
      },
      "Next": "MapState"
    },
    "MapState": {
      "Type": "Map",
      "ItemsPath": "$.data",
      "MaxConcurrency": 0,
      "End": true,
      "Iterator": {
        "StartAt": "Start",
        "States": {
          "Start": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$":  "$",
              "FunctionName": "arn:aws:lambda:eu-west-3:935529178062:function:revision-stepfunction-lambda"
            },
            "End": true
          }
        }
      }
    }
  }
}